ion-view(title='Account')
  ion-content.padding
    h1 Login
    .list
      label.item.item-input.item-floating-label
        span.input-label User Name
        input(type='text', ng-model='user.username', placeholder='User Name')
      label.item.item-input.item-floating-label
        span.input-label Password
        input(type='password', ng-model='user.password', placeholder='Password')
    button.button.button-block.button-positive(type='button', ng-click='login(user)') Log In

